#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #212020;
  color: #e1e0e0;
}
section {
  width: 400px;
  margin: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  background-color: #f7f3f3;
  color: black;
  text-align: start;
}
img {
  border-radius: 50%;
}
